.title{
    text-align: center;
    font-size: 24px;
}

.content{
    text-align: center;
}



.container{
    width: 800px;
    display: flex;
    height: 250px;
    box-sizing: border-box;
    position: relative;
}

.box{
    width: 70%;
    height: 100%;
}

.one {
    width: 100%;
    background-color: red;
    height: 40%;
}

.two{

    background-color: yellow;
    height: 150px;
}

.three{
    width: 30%;
    background-color: orange;
    height: 100%;
}

.for{

    background-color: green;
    height: 50px;

}

.btnbox{
    display: flex;
    justify-content: center;
    position: relative;
}

.btn{
    position: absolute;
    bottom: 10px;
    right: 10px;

    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.flex{
    display: flex;
    justify-content: center;
}

.item{
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;

}

.text{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}