body{
  margin: 0;
  background: #303030;
  color: white;
}

.title{
  text-align: center;
  margin-top: 150px;
}

.content{
  text-align: center;;
}

.food{
  margin: 20px auto;
  width: 200px;
  background-color: white; 
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}



.navbar{
  background-color: white;
  padding: 20px;
}

.navbar a{
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.food-img{
  width: 100%;
  height: auto;
}