body{
    overflow: hidden;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4ECFA;
}

.order .truck{
    width: 60px;
    height: 41px;
    left: 100%;
    z-index: 1;
    top: 11px;
    position: absolute;
    transform: translateX(24px);
}
.order{
    -webkit-appearance: none;
    -moz-appearance: nond;
    appearance: none;
    border: 0;
    background-color: darkblue;
    position: relative;
    height: 63px;
    width: 240px;
    padding: 0;
    outline: none;
    border-radius: 32px;
    
}