<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="grey-bg">

    <%- include('nav.ejs') %>
    <form class="form-box" action="/write" method="POST">
        <h4>수정하기</h4>
        <input name="title" value="<%= result.title%>">
        <input name="content" value="<%= result.content %>">
        <button type="submit">수정</button>
    </form> 
    </div>
  </body>
</html>
